.navbar__component {
  display: flex;
  background-color: #304051;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;
}
.logoutLink a {
  color: grey;
  text-decoration: none;
}
.logoutLink {
  margin-top: 1%;
  margin-left: 70px;
}
