.signup-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
  text-align: left;
}

.signupButton {
  width: 100%;
  max-width: 330px;
  margin-top: 10px;
}

Input {
  margin-bottom: 10px;
}

.successMsg {
  width: 100%;
  max-width: 330px;
  margin-left: 35%;
  margin-top: 1%;
}
